.container{
    width: 1110px;
    outline: 2px red solid;
}
.header-ul li{
    list-style: none;
}
.header-ul{
    gap: 29px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header-list{
    text-decoration: none;
    margin-bottom:30px ;
    margin-top: 30px;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
}
.baground-header{
    background-color: #012D63;
    width: 1110px;
    height: 90px;
}
.header-img{
    margin-left:168px ;
    margin-right:152px ;
    margin: 0 auto;
}
.section-baground{
    background-image: url(group1.jpeg);
    width: 1440px;
    height: 858px;
}
.section-img{
    background-image: url(group2.png);
    width: 1440px;
    height: 604px;
}