.container {
    width: 1110px;
    outline: 2px red solid;
    margin: 0 auto;

}

.header-ul li {
    display: flex;
    list-style: none;
}

.font {
    font-size: 144px;
}

.font2 {
    font-size: 72px;
}

.color-sectoin {
    color: white;
}

.text-decoration {
    text-decoration: none;
    list-style: none;

}

.header- {
    align-items: center;
}

.header-ul {
    display: flex;
    gap: 29px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-list {
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 0;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
}

.baground-header {
    background-color: #012D63;

}

.header {
    display: flex;
    align-items: center;
}

.section-baground {
    background-image: url(./img/group1.jpeg);
    background-size: cover;
    height: 858px;
    background-repeat: no-repeat;

}
.section-text{
  width: 178px;
}
.outline{
    outline: 5px purple solid;
}
.text-align{
    margin-top:130px ;
    margin-bottom: 130px;
}
.align{
    display: flex;
    justify-content: center;
    
}
.font{
    font-size: 36px;
}
.section-img2{
    background-image: url(./img/group2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 606px;
}
.text-decoration2{
    list-style: none;
}
.header-heigh {
    display: flex;
    align-items: center;
    height: 78px;
    justify-content: center;
}

.li- {
  width: 350px;
  height: 406px;
}