:root {
    --header-text: #C7C7C7;
    --gmail-section: #959595
}

body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1110px;
    outline: 2px rgb(89, 89, 89) solid;
    margin: 0 auto;
}

.color2 {
    color: var(--gmail-section);
    padding-left: 25px;
}

.color3 {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 3px;
    
}
.info-flex{
    display: flex;
    align-items: center;
}
.header-ul li {
    display: flex;
    list-style: none;
    margin: 0;

}

.font {
    font-size: 144px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 33px;
    margin-top: -15px;
}

.font2 {
    font-size: 72px;
}

.color-sectoin {
    color: white;
}

.text-decor {
    font-size: 48px;
    margin-left: 85px;
    margin-top: -29px;
}

.text-decoration {
    text-decoration: none;
    list-style: none;

}

.header- {
    align-items: center;
}

.header-ul {
    display: flex;
    gap: 29px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.color3:hover {
    color: var(--header-text);
}

.header-list {
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 0;

}

.header-flex {
    display: flex;
    flex-wrap: wrap;


}

.baground-header {
    background-color: #012D63;

}

.header {
    display: flex;
    align-items: center;
}

.section-baground {
    background-image: url(./img/group1.jpeg);
    background-size: cover;
    height: 858px;
    background-repeat: no-repeat;

}
.img-cards{
    width: 38px;
    height: 38px;
    margin-right: 5px;
    margin-top: 10px;
}
.flex-p{
    margin-top: -16px;
}

.outline {
    outline: 5px purple solid;
}

.text-align {
    margin-top: 130px;
    margin-bottom: 130px;
}

.align {
    display: flex;
    justify-content: center;

}

.margin {
    margin-top: -39px;
    margin-left: 68px;
}

.container2 {
    width: 507px;
}

.text-align2 {
    margin-top: -121px;
    margin-left: 64px;
}

.section-img {
    margin-top: 123px;
    margin-left: 129px;
}

.text-decoration {
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
}

.section-img2 {
    background-image: url(./img/group2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 606px;
}

.text-decoration2 {
    list-style: none;
    margin-top: 0;
}

.header-heigh {
    display: flex;
    align-items: center;
    height: 78px;
    justify-content: center;
}

.li- {
    width: 350px;
    height: 406px;
}

.cards {
    background-image: linear-gradient(#00e5e6 7%,
            #00a8f7 26%,
            #9a76f9 63%,
            #cc5ec2 100%);
    width: 255px;
    height: 292px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0px 10px 1px 5px #9a76f9, 0px 25px 1px 5px #00a8f7;
    padding: 49px 12px 30px 12px;
    order: 1;
    margin-right: 93px;
}

.cards-2 {
    background-image: linear-gradient(#ff68b4 0%,
            #ff45e1 26%,
            #ce3aff 63%,
            #8961ff 100%);
    box-shadow: 0px 10px 2px 5px #ff45e1, 0px 25px 2px 5px #ce3aff;
     padding: 49px 12px 30px 12px;
    width: 255px;
    height: 292px;
    border-radius: 15px;
    list-style: none;
    order: 2;
    margin-right: 93px;
}
.flex-box{
    margin-top: 63px;
}
.flex-box2{
    margin-top: 39px;
}
.flex2{
    margin-top: -19px;
}
.box-flex2{
margin-top: 10px;
}

.box-flex{
  margin-top: 37px;
  width: 37px;
 height: 38px;
}
.justify {
    display: flex;
    justify-content: center;
}

.cards-3 {
    background-image: linear-gradient(#ffe128 0%,
            #ff9b5c 30%,
            #ff8381 63%,
            #ff5489 100%);
    box-shadow: 0px 10px 1px 5px #ff5489, 0px 25px 1px 5px #ff8381;
    padding: 49px 12px 30px 12px;
    width: 255px;
    height: 292px;
    border-radius: 15px;
    list-style: none;
    order: 3;
}

.review-backgr {
    background-image: url(./img/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    margin: 0;
}

.review {
    background-image: url(./img/review.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin: 0;
    margin-left: 0;
}

.h2- {
    margin: 0;
    gap: 93px;
}

.cards-h2 {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(155, 155, 155);


}

.footer-decoration {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    list-style: none;
    padding-left: 0;
}

.text-align {
    margin-bottom: 7px;
    margin-top: 0;
}

.footer-text-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-decoration2 {
    color: rgb(255, 255, 255);
    font-family: "PT Serif";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    padding-left: 0;

}

.text-line {
    margin-top: -5px;
    margin-left: 18px;
}

.li-h2 {
    color: white;
    text-align: center;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.color {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;

}

.display-footer2 {
    text-align: right;
}

.baground-footer {
    background-color: #021635;
}

.btn-order {
    margin: 0 auto;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    border-radius: 16px;
    background: rgb(142, 50, 198);
    padding: 20px 50px;
    border: none;
    margin-top: 13px;
}
.design{
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
}
.butto {
    color: white;
    background-color: #8E32C6;
    border: none;
    width: 254px;
    height: 67px;
    border-radius: 10px;
    font-size: 24px;
    margin-left: 60px;
    margin-top: 43px;
}

.h2- {
    margin: 0 auto;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;

}

.display {
    background-image: url(./img/order.png);
    background-size: cover;
    height: 509px;
}

.butt- {
    background-color: white;
    border: none;
    margin-left: -257px;
    height: 50px;
    color: #d8d8d8;
    width: 250px;
    font-size: 28px;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
}

#email {
    margin-left: 600px;
    width: 690px;
    height: 60px;
    border-radius: 50px;
    border: none;
    margin-top: 33px;
    color: #d8d8d8;
    font-size: 28px;
}

#country {
    margin-left: 650px;
    height: 60px;
    width: 550px;
    border-radius: 50px;
    border: none;
    margin-top: 19px;
    color: #d8d8d8;
    font-size: 28px;
}